<div style="margin-top: 30px;" class="card">
    <div class="card-body">
        <div>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email Id</th>
                        <th scope="col">Phone number</th>
                        <th scope="col">Username</th>
                        <th scope="col">Address</th>
                        <th scope="col">Card Type</th>
                        <th scope="col">Fees Paid</th>
                        <th scope="col">Account Number</th>
                    </tr>
                </thead>
                <tbody *ngFor="let u of user">
                    <tr>
                        <td>{{u.Name}}</td>
                        <td>{{u.email}}</td>
                        <td>{{u.Phone_No}}</td>
                        <td>{{u.username}}</td>
                        <td>{{u.Address}}</td>
                        <td>{{u.Card_Type}}</td>
                        <td>{{u.Fees_Paid}}</td>
                        <td>{{u.Account_Number}}</td>
                        <td><button class="btn btn-success" type="submit" value="Submit" (click)="VerifyUser(u)">Verify
                            </button></td>
                        <td><button class="btn btn-success" type="submit" value="Submit"
                                (click)="deleteuserdata(u.username)">Delete</button></td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>