<div style="margin-top: 30px; width: 600px; margin-bottom: 150px;" class="card">
    <div class="card-header">Forgot Password</div>
    <div class="card-body">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="form-group">
                <label for="resetPasswordEmail">User Email</label>
                <input type="email" name="email" required #email="ngModel" class="form-control" id="email"
                    placeholder="Enter email" [(ngModel)]="mail">
            </div>
            <button type="submit" (click)="SendOtp(mail)" class="btn btn-primary">Get OTP</button>

            <br>
            <br>
            <div class="form-group">
                <label for="resetPasswordEmail">Enter OTP</label>
                <input type="text" name="otp" [(ngModel)]="resetPasswordEmail" required #otp="ngModel"
                    class="form-control" id="resetPasswordEmail" placeholder="Enter received OTP">
            </div>

            <button type="submit" (click)="verifyopt(resetPasswordEmail)" class="btn btn-primary">Verify
                OTP</button>
        </form>
    </div>
</div>