<br>
<div class="form-group">
    <input type="text" class="form-control" placeholder="Search Products" [(ngModel)]="searchProduct" />
</div>
<div style="margin-top: 30px;" class="card" *ngFor="let p of products | productFilter:searchProduct">
    <div class="card-header">{{p.Name}}</div>
    <div class="card-body">
        <div class="col-10">
            <div class="row vertical-align">
                <div class="col-4">
                    <img class="imageClass" [src]="p.imagePath" />
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-6">
                            Details
                        </div>
                        <div class="col-6">
                            : {{p.Details}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            Cost
                        </div>
                        <div class="col-6">
                            : {{p.Cost | currency:'INR'}}
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-6">
                        </div>
                        <div class="col-6">
                            <button class="btn btn-light" (click)="addtocart(p.Product_ID)">ADD TO CART</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>