<br>
<h5 style="text-align: center;">Terms and Conditions of Credit Card No Cost EMI</h5><br>

<p>The following terms and conditions apply to no cost equated monthly installment ("EMI") transactions made using an eligible credit card issued by any bank and using EMI facility as a payment option ("No Cost EMI")</p>
<p>The No Cost EMI facility is being offered to the customers who make a purchase transaction on www.LFI.in or the mobile application/ mobile site thereof (collectively, "LFI.in") using an eligible credit card issued by any bank using EMI facility; if available on LFI.in</p>
<p>The No Cost EMI facility is funded by participating sellers and brands (as the case may be) and is made available on select products, as determined from time to time by such sellers and/or brands<p>
<p>The No Cost EMI payment option can be availed using the credit card of any bank on LFI.in and is not available on purchases made using net banking or pay on delivery payment methods.</p>
<p>Using the No Cost EMI payment option, the customers who undertake the purchase transactions on LFI.in, will only pay amounts such that the total of these amounts during the EMI tenure is equal to the list price of the products as displayed on LFI.in (at the time of making the purchase transactions). The participating sellers or brands (as the case may be) will provide amounts equivalent to the interest imposed by the banks to undertake the purchase transactions on EMI.</p>
<p>The banks issuing the credit cards reserve the right to charge Goods and Services Tax (GST) or other applicable taxes on the purchase transactions undertaken on EMI which will be over and above the product price.</p>
<p>Customers can add more than one item to their cart and if all the products are eligible for No Cost EMI, such customer will receive No Cost EMI payment option on all items. No Cost EMI discount will be calculated only on the eligible items in the cart.</p>
<p>Customers may avail the No Cost EMI facility, provided that:
the order is not cancelled by the customer or the participating sellers or LFI; or
the product is not returned / exchanged by the customer.</p>
<p>EMI facility is made available to the customers by and in the sole discretion of the banks issuing the credit cards. LFI will not be liable for any claims on account of availability or non-availability of EMI facility.
LFI reserves the right to stop No Cost EMI payment option at any time without prior notice and without any liability</p>
<br>